p {
    color: rgb(151, 225, 164);
    background-color: rgb(3, 29, 3);
    padding: 15px;
    font-size: 21px;
    font-family: Georgia;
}

.pInfo,
h3,
h4 {
    color: white;
    background-color: rgb(138, 71, 71);
    padding: 10px;
    width: 10rem;
    margin: 10px auto;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {

    /* Adjustments for smaller screens */
    p {
        font-size: 20px;
        /* Decrease font size for paragraphs */
    }

    .pInfo,
    h3,
    h4 {
        width: 100%;
        /* Set width to full for smaller screens */
    }
}

/* Add more media queries for different screen sizes if needed */